
header{
    border:3px solid blue;
    margin:10px;
    min-height: 50px;
}

main{
    border: 3px solid green;
    margin:10px auto;
    width:960px;
    padding:5px 10px;
    min-height: 200px;
}
/* 
.flex-container{
    display: flex;
} */

footer{
    border: 3px solid purple;
    margin:10px;
    min-height: 200px;
}

.logo{
    width:60px;
    background-color: orange;
    display: inline-block;
}
.nav{
    background-color: silver;
    width:300px;
    display: inline-block;
}

.wrapper{
    border: 3px solid red;
    max-width:960px;
    margin:0px auto;

    display: flex;
    justify-content: space-between;
}